
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');


body {
  margin: 0;
  font-family: yellowtail;
  font-weight:400;
  background: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#carousel{
  max-height:500px; 

}
